<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/assets/index.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop DevOps - CM42</title>
    <link rel="shortcut icon" href="https://blog-codeminer42.s3.sa-east-1.amazonaws.com/wp-content/uploads/2019/11/27184342/logoredFavicon.png" />
</head>
<body>
    <%= yield %>
</body>
</html>